* {
    margin: 0px;
    padding: 0px;

}
h1 {
    /* font-size editará el tamaño */
    font-size: 30px;
    /* font-family camviará la fuente que se usará */
    font-family: sans-serif;
    /* font-weight anuncia que cambiará el grosor para las fuentes */
    font-weight: bold;
}

h2 {
    /* Puedo agrupar todas las reglas en una sola. */
    font: bold 14px san-serif;
    /* font-weight: bold;
    font-size: 23px;
    font-family: sans-serif; */
}
/* Con CSS puedo seleccionar diferentes tags en una sola línea */
header, section, footer, aside, nav, article hgroup {
    /* es una regla que indica que los contenedores serán uno debajo del otro */
    display: block;

}
/* Edita el cuerpo del documento */
body {
    text-align: center;
}
/* editará la clase que se llame "agrupar" */
.agrupar {
    margin: 15px auto;
    width: 960px;
    border: 1px solid black;
    
    /* padding: 40px; */
}
.cabecera {
    background: #00ACC1;
    border: 1px solid #999999;
    padding: 20px;

}
.cabecera h1 {
    text-align: left;
}

.menu {
    background: #BDBDBD;
    padding: 5px 15px;
    text-align: left;
}

/* Para referirme a un elemento dentro de otro, "menu" es una clase y "li" es el elemento o tag del HTML */
.menu li {
    /* list-style se refiere a la forma en la que se ve la lista, en este casi borra las bolitas que por defecto contiene */
    list-style: none;
    padding: 5px;
    font: bold 14px verdana;
    /* Indica alineados uno al lado del otro */
    display: inline-block;
}

.seccion {
    margin: 20px;
    width: 60%;
    /* float indica que la sección se saldra del div en el que está, quedará flotando */
    float: left;

}
article {
    background: #fffbcc;
    border: 1px solid #999999;
    padding: 20px;
    margin-bottom: 15px;
}
time {
    color: #999999;
}
article footer {
    text-align: right;
    margin-top: 20px;
}
.columna {
    width: 30%;
    margin: 20px 0px;

    float: left;
}
.columna blockquote {
    border: 1px solid black;
    padding: 40px;
    background: #16a085;
    margin-bottom: 20px;
}
.pie {
    /* clear:both; hace que se ignoren los efectos del float aun estando dentro de su regla */
    clear: both;
    padding: 20px;
    background: #16a085;
}
img {
    width: 80px;
    display: block;
    margin: 20px auto;
}
